<div class="mat-app-background basic-container">
	<mat-card class="example-card">
		<mat-card-title>SN Read</mat-card-title>
		<mat-card-content *ngIf="qrResultString"><b>{{ qrResultString }}</b></mat-card-content>
		<mat-card-actions>
			<button mat-button [routerLink]="['barcode']">Capture</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="example-card">
		<mat-card-title>Image Captured</mat-card-title>
		<img id="capturedImage" mat-card-image [src]="imageResult" alt="" *ngIf="imageResult">
		<mat-card-actions>
			<button mat-button [routerLink]="['image']">Capture</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="example-card">
		<mat-card-title>Scan Geopoint</mat-card-title>
		<mat-card-content *ngIf="scanCoordinate">
			<p>Latitude: {{ scanCoordinate.coords.latitude }}</p>
			<p>Longitude: {{ scanCoordinate.coords.longitude }}</p>
			<p>Accuracy: {{ scanCoordinate.coords.accuracy }} </p>
			<p>Timestamp: {{ scanCoordinate.timestamp }}</p>
		</mat-card-content>
	</mat-card>
</div>