<div class="mat-app-background basic-container">
  <h1 mat-dialog-title>Delete Confirmation</h1>
  <p>
    Are you sure to delete this Device?
  </p>
  <mat-form-field class="example-full-width">
    <mat-label>Put some reason</mat-label>
    <textarea matInput [(ngModel)]="reason"></textarea>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()" cdkFocusInitial>
      Cancel
    </button>
    <button mat-raised-button [mat-dialog-close]="data" (click)="onOK()">
      Ok
    </button>
  </div>
</div>
