<div class="mat-app-background basic-container">
	<app-camera (pictureTaken)="handleImages($event)"></app-camera>

	<mat-card class="example-card" *ngIf="qrResultString">
		<mat-card-title>Tag QR Read</mat-card-title>
		<mat-card-content>{{ qrResultString }}</mat-card-content>
	</mat-card>

	<mat-card class="example-card" *ngIf="webcamImage">
		<mat-card-title>Image Captured</mat-card-title>
		<img id="capturedImage" mat-card-image [src]="webcamImage.imageAsDataUrl" alt="">
    </mat-card>

		<mat-card class="example-card" *ngIf="scanCoordinate">
			<mat-card-title>Scan Geopoint</mat-card-title>
			<mat-card-content>
				<p>Latitude: {{ scanCoordinate.coords.latitude }}</p>
				<p>Longitude: {{ scanCoordinate.coords.longitude }}</p>
				<p>Accuracy: {{ scanCoordinate.coords.accuracy }} </p>
				<p>Timestamp: {{ scanCoordinate.timestamp }}</p>
			</mat-card-content>
		</mat-card>
</div>